<a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <i class="fas fa-bell fa-fw"></i>
  <!-- Counter - Alerts -->
  <span class="badge badge-danger badge-counter">3+</span>
</a>
<!-- Dropdown - Alerts -->
<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
  <h6 class="dropdown-header">
    Alerts Center
  </h6>
  <a class="dropdown-item d-flex align-items-center" href="#">
    {% include 'basic/notificationTemplates/creationReminder.html' %}
  </a>
  <a class="dropdown-item d-flex align-items-center" href="#">
    {% include 'basic/notificationTemplates/doneReminder.html' %}
  </a>
  <a class="dropdown-item d-flex align-items-center" href="#">
    {% include 'basic/notificationTemplates/systemReminder.html' %}
  </a>
  
  <a class="dropdown-item text-center small text-gray-500" href="#">Old Alerts</a>
</div>