<a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <i class="fas fa-bell fa-fw"></i>
  <!-- Counter - Alerts -->
  <span class="badge badge-danger badge-counter">
    {{unreaded_notification_count}}
  </span>
</a>
<!-- Dropdown - Alerts -->
<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
  <h6 class="dropdown-header">
    Alerts Center
  </h6>
  {% for unreaded_notification in unreaded_notifications %}
    {% if unreaded_notification.group == "c" %}
      <a class="dropdown-item d-flex align-items-center" href="#">
        <div class="mr-3">
          <div class="icon-circle bg-primary">
            <i class="fas fa-file-alt text-white"></i>
          </div>
        </div>
        <div>
          <div class="small text-gray-500">{{unreaded_notification.creation_date|date:"Y-m-d"}}</div>
          {{unreaded_notification.body}}
        </div>
      </a>
    {% elif unreaded_notification.group == "d" %}
      <a class="dropdown-item d-flex align-items-center" href="#">
        <div class="mr-3">
          <div class="icon-circle bg-success">
            <i class="fas fa-donate text-white"></i>
          </div>
        </div>
        <div>
          <div class="small text-gray-500">{{unreaded_notification.creation_date|date:"Y-m-d"}}</div>
          {{unreaded_notification.body}}
        </div>
      </a>
    {% else %}
      <a class="dropdown-item d-flex align-items-center" href="#">
        <div class="mr-3">
          <div class="icon-circle bg-warning">
            <i class="fas fa-exclamation-triangle text-white"></i>
          </div>
        </div>
        <div>
          <div class="small text-gray-500">{{unreaded_notification.creation_date|date:"Y-m-d"}}</div>
          {{unreaded_notification.body}}
        </div>
      </a>
    {% endif %}
  {% endfor %}
  {% for old_notification in old_notifications %}
  <a class="dropdown-item text-center small text-gray-500" href="#">
    <b>{{old_notification.get_group_display}}</b><br/>
    {{old_notification.body}}
  </a>
  {% endfor %}
</div>

{% load static %}
<script src="{% static 'notificationObj.js' %}"></script>

<script>
  function loadNotifications(){
    
  }
</script>